.popis-hry h1,
.pravidla-soupis h1 {
  font-family: 'Lobster', cursive;
  font-size: 2em;
  margin: 0;
  padding-bottom: 20px;
}

.pravidla-soupis h1 {
  text-align: center;
  padding-top: 30px;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: sans-serif;
  color: #ffffff;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popis-hry {
  background-color: #283e50;
  text-align: center;
  padding: 30px 10px 30px 10px;
}

.popis-hry p {
  margin: 0;
}

.pravidla-soupis {
  background-color: #283e50;
  border-radius: 5px 5px 0 0;
}

.pravidla-cislovane {
  padding-right: 40px;
  margin-top: 0;
  margin-left: 40px;
}

.pravidla-cislovane li {
  padding-bottom: 5px;
}

/* tlacitka - pro obě strany*/
.zelene {
  background-color: #1fcca4;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.modre {
  background-color: #0197f6;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* tlacitka - uvodni strana*/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

li:hover.zelene {
  background-color: #1cbb96;
}

li:hover.modre {
  background-color: #0090e9;
}

/* tlacitka - strana s pravidly - lepší řešení */
.tlacitka {
  display: block;
  text-align: center;
}

a:hover.zelene {
  background-color: #1cbb96;
}

a:hover.modre {
  background-color: #0090e9;
}

.uvod img {
  display: block;
  border-radius: 5px 5px 0 0;
  max-width: 30vw;
}

.pravidla-soupis img {
  max-width: 100%;
}

.pravidla-soupis figcaption {
  text-align: center;
  font-style: italic;
}

.pravidla--okraj {
  margin-bottom: 0;
}

.pravidla--filter {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

.uvod {
  max-width: 30vw;
}

.pravidla {
  max-width: 80vw;
  margin-top: 50px;
}

@media screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  .pravidla-obrazky {
    display: flex;
    flex-wrap: wrap;
  }

  .pravidla--flex {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 19px;
  }

  .pravidla {
    max-width: 50vw;
    margin-top: 50px;
  }
}
